n8n-workflows/workflow-4-coupon-lead.json
{
  "name": "Coupon Lead Immediate Follow-up",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "webhook",
        "path": "coupon-leads",
        "httpMethod": "POST"
      },
      "id": "trigger-coupon-lead",
      "name": "Webhook - New Coupon Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "sendGridApi",
        "fromEmail": "noreply@agile36.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Your $150 OFF code is ready",
        "text": "Hi {{ $json.name }}, Here's your exclusive discount: Code 150OFF. Class starts {{ $json.cohort_date }}. Save your spot: {{ $json.course_link }}"
      },
      "id": "send-email",
      "name": "Send Email via SendGrid",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/outreach_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},
            {"name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  source_table: 'coupon_leads',\n  source_id: $json.id,\n  email: $json.email,\n  workflow_name: 'Coupon Lead Immediate Follow-up',\n  channel: 'email',\n  subject: 'Your $150 OFF code is ready',\n  status: 'sent',\n  sent_at: new Date().toISOString()\n} }}"
      },
      "id": "log-outreach",
      "name": "Log to Outreach Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook - New Coupon Lead": {
      "main": [[{"node": "Send Email via SendGrid", "type": "main", "index": 0}]]
    },
    "Send Email via SendGrid": {
      "main": [[{"node": "Log to Outreach Log", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-19T00:00:00.000Z",
  "versionId": "1"
}
